/*
width:auto|百分比|具体尺寸
height:autho|百分比|具体尺寸
*/
.css_size{
  width:100px;
  height:50px;
  border:1px solid green;
}

.css_size2{
  width:80px;
  height: 100px;
  border:1px solid green;
  margin-top:10px;
}

.css_size3{
  width:50px;
  height:50%;
  border:1px solid green;
  margin-top:20px;
}

.css_size4{
  width:400px;
  height:300px;
  border:1px solid red;
  margin:auto;
}

.css_size5{
  width:200px;
  height:200px;
  border:1px solid blue;
  text-align: center;
  margin:auto;
}



/*
margin:auto|length;
margin的值，
margin： a         1个值，表示4个方向均为此值
        a,b        2个值，表示上下为a、左右为b
        a,b,c      3个值，表示上为a，左右为b，下为c
        a,b,c,d    4个值，表示上为a，右为b，下为c，左为d
.css_margin{
  margin:auto|length;
}

单独的每个方向的外补丁设置：
    margin-top:auto|length;
    margin-right: auto|length;
    margin-bottom:auto|length;
    margin-left: auto|length;
*/


#css_margin1{
  margin:20px;
  border:1px solid blue;
}

#css_margin2{
  margin:35px 40px;
  border:1px solid blue;
}

#css_margin3{
  margin:20px 10px 5px -20px;
  border:1px solid blue;
}

#css_margin4{
  width:778px;
  margin:auto;
  font-size:14px;
  border:0;
}


#css_margin5{
  margin:auto;
  width:100%;
  height:80px;
  border:1px solid blue;
}

#my_body{
  width:778px;
  height:450px;
  margin: auto;
  font-size: 15px;
  border:1px solid black;
}

#contentleft{
  width:180px;
  height:450px;
  float:left;
  border:1px solid blue;
}

#contentcenter{
  width:410px;
  height:450px;
  float:left;
  margin-left:6px;
  border:1px solid blue;
}

#contentright{
  width:170px;
  height:450px;
  float:right;
  margin-left:6px;
}

#content_left{
  width:200px;
  height:400px;
  float:left;
}

#content_leftup{
  width:200px;
  height:200px;
  float: left;
}

#content_leftdown{
  width:200px;
  height:200px;
}

#content_right{
  width:200px;
  height:400px;
  float:left;
  margin-left:6px;
}

/*内补丁
padding:length
length可以为数值或百分比,不可为auto或负值
*/
#css_padding{
  width:200px;
  height:150px;
  background:#cccccc;
  /*padding:20px;*/
  padding-left:20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#css_padding2{
  height:100%;
  background: green;
}

#css_padding3{
	width:200px;
	height:150px;
	padding-top:30px;
	padding-left:10px;
	padding-right:20px;
	padding-bottom:10px;
	background:red;
	margin:30px;
}

#css_padding4{
	background: green;
	height:100%
}


div{
  border-style:solid red;
  #width:200px;
  margin-top:5px;
}


#css_padding5{
	padding-top:20px;
	height:20px;
	background:blue;
}

#css_padding6{
	height:50px;
	background:orange;
}

#css_padding7{
	padding-right:20px;
	height:20px;
	background:blue;
}

#css_padding8{
	height:50px;
	background:yellow;
}

#css_padding9{
	padding:30px;
	background:blue;
	height:50px;
}

#css_padding10{
	height:50px;
	background:green;
}

#css_padding11{
	padding-top:20px;
	padding-bottom:10px;
	height:20px;
	background:green;
}

/*
border:border-width||border-style||border-color
	   默认为medium none
border-width:边框宽度
		 参数:medium thin thick length(即具体宽度值)
border-style:边框样式 	
		   参数:solid none dotted double groove ridge insert outset
border-color:边框颜色	(#bbbbbb) (red orange)

border-style高于其他2种属性，如果style设置为none，则不管其他2种属性为啥，都不会显示。

border-top:		border-width||border-style||border-color
border-right:	border-width||border-style||border-color
border-bottom:	border-width||border-style||border-color
border-left:	border-width||border-style||border-color
参数如果是1个，就是上右下左;如果是2个，就是上下、左右，如果是3个，就是上下、左、右

*/
#bborder1{
	width:200px;
	height:80px;
}

#border1{
	border:5px solid red;
}

#border2{
	border-color:red blue #cccccc;
	border-style:dashed;
	border-width:10px;
}

#border3{
	border-color:red blue #cccccc;
	border-style:solid;
	border-width:medium;
}

#border4{
	border-top: 5px solid #cccccc;
	border-right:10px dashed red;
	border-bottom:15px dotted green;
	border-left:20px groove yellow; 
}



