#p4{
	border:5px solid#bbbbbb;
}
#p5{
	color:blue;
}
.p6{
	font-size:20px;
}

/*注释：mydiv1*/
#mydiv{
	width:200px;
	height: 100px;
	border:2px solid red;
}
/*注释：mydiv2*/
.mydiv2{
	width:200px;
	height: 100px;
	border: 2px solid red;
}

#style_font1{
	/*font: font-sytle||font-variant||font-weight||font-size||line-height||font-family*/
	/*font-style:			normal/italic/oblique
		font-vairant:   normal/small-caps
		font-weight:		normal bold bolder lighter 100 200 300 400 ... 800 900
		font-size:			xx-small x-samll samll medium lage x-large xx-large larger smaller
		 								length 具体的size
		font-family:    fontname
		line-height:		行距
		word-spacing:		normal 具体宽度
	*/
	font:normal normal normal medium normal "Times New Roman";
	color:#ff0000;
}

#style_font2{
	font:italic small-caps 600 14px "黑体";
}

#style_font3{
	font:oblique normal 900 18px "隶书";
}

#style_font_size_xxsmall{
	font-size:xx-small
}

#style_font_size_xsmall{
	font-size:x-small
}

#style_font_size_small{
	font-size:small
}

#style_font_size_large{
	font-size:large
}

#style_font_size_xlarge{
	font-size:xlarge
}

#style_font_size_xxlarge{
	font-size:xxlarge
}

#sytle_font_line_height{
	width:230px;
	border:1px	solid#000000;
	line-height: 80px;
}

#style_font_word_spacing1{
	word-spacing:normal;
}

#style_font_word_spacing2{
	word-spacing:5px;
}

#sytle_font_letter_spacing1{
	letter-spacing: normal;
}

#sytle_font_letter_spacing2{
	letter-spacing: 5px;
}

#font1{
	font-family: "宋体";
}

#font2{
	font-family: "黑体";
}

#font3{
	font-family: "隶书";
}

#font4{
	font-weight: bolder;
}

#font5{
	width:150px;
	border: 1px solid#000000;
	line-height: 30px;
}


#trans1{
	text-transform: none;
}

#trans2{
	text-transform: capitalize;
}

#trans3{
	text-transform: uppercase;
}

#trans4{
	text-transform: lowercase;
}

/*文本垂直对齐*/
/*
vertical-aligin:baseline|sub|super|top|text-top|middle|bottom|text-bottom
baseline:和上级基线对齐
sub:以下标形式显示
super：以上标形式显示
top：和行中最高元素上对齐
text-top：和上级元素的字体向上对齐
......
*/

#tbase{
	/*height:40px;
	border:1px solid#000000*/
	vertical-align: baseline;
}

#sub{
	vertical-align: sub;
	font-size:0.5em;
}

#sup{
	vertical-align: super;
	font-size: 0.5em;
}

#top{
	vertical-align: top;
}

#t-top{
	vertical-align: text-top;
}

#mid{
	vertical-align: middle;
}

#bot{
	vertical-align: bottom;
}

#t-bot{
	vertical-align:text-bottom;
}


/*文本的水平对齐*/
/*
text-align:left|right|center|justify
left:左对齐
right：右对齐
center：居中对齐
justify：左右对齐
*/

/*文本的缩进*/
/*
text-indent:<长度>|<百分比>
*/
#indent1{
	text-indent: 20%;
}

#indent2{
	text-indent:500px;
}

#indent3{
	width: 200px;
	border:1px solid#000000;
	padding:5px;
	text-indent:18px;
}
